@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.css-sxmqtv-Wrapper{
    border-radius: 0px !important ;
}
div[data-testid="content"] {
    margin-left: -1px;
    margin-top: -1px;
}

.ec9jzma0 {
    width: 5px !important;
    top: 60px !important;
}